{% extends "base.jinja" %}
{% block title %}{{ class.name }}{% endblock title %}

{% block content %}
{{ class.name }}
{% for assignment in coursework.courseWork %}
<div>{{ assignment.title }}</div>
{% endfor %}
{% if pagination_token %}
<a href="?page={{ pagination_token }}">Next page</a>
{% endif %}
{% endblock content %}