{% extends "base.jinja" %}
{% block title %}{{ class.name }}{% endblock title %}

{% block content %}
{{ class.name }}
{% for assignment in coursework.courseWork %}
<div>{{ assignment.title }}</div>
{% endfor %}
{% if pagination_token %}
<a href="?page={{ pagination_token }}">Next page</a>
{% endif %}
{% if not is_first_page %}
<a href="javascript:window.history.back()" id="back-button" hidden>Back</a>
<script>document.getElementById("back-button").hidden = false;</script>
<noscript>Please use your browser button to go back</noscript>
{% endif %}
{% endblock content %}