{% extends "base.jinja" %}
{% block title %}Classes{% endblock title %}

{% block content %}
{% for class in classes %}
<a href="/{{ class.id }}">{{ class.name }}</a>
<br>
{% endfor %}
{% endblock content %}