{% extends "base.jinja" %}
{% block title %}Classes{% endblock title %}

{% block content %}
{% for class in classes %}
<div><a href="/class/{{ class.id }}" class="boxed">{{ class.name }}</a></div>
{% endfor %}
{% endblock content %}