{% extends "base.jinja" %}
{% block title %}
home{% endblock title %}
{% block content %}
<h1 class="">
    css - Classroom, Server Side
</h1>
<p>
    css is an app developed by valkyrie_pilot, because I was fed up with how slow the Google Classroom UI was.
    It took up to 10,000ms to load the homepage, so instead, I made this!
    Head to the <a href="/classes">Classes page</a> to get started!
</p>
{% endblock content %}